<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file = "$(find robot_sim)/Launch/run.launch"/>

    <arg name ="gui" default="False" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
            <param name="use_gui" value="False"/>
           </node> 
    <param name = "robot_description" command ="$(find xacro)/xacro '$(find robot_sim)/Models/model.urdf.xacro'" />
    <param name = "use_gui" value = "$(arg gui)" />
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_sim)/rviz/display.rviz" required="true" />
</launch>
